html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
#calComp{
  background-color: darkgray;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

#calDiv{
  display: block;
  margin: 5%;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  padding: 20px;
  justify-self: center;
  background-color: #ffffff;
  align-items: center;
}

#calInfo{
  width: 10%;
  height: auto;
  background-color: white;
}



.Landing{
  width: 100%;
  height: 100vh;
}

#videoContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#loginBtn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#loginBtn:hover{
  background-color: #000000;
  color: #ffffff;
}

#loginBtn:active{
  transform: translate(-50%, -50%) scale(0.9);
}

#loginLogo{
  font-size: 25px;
    opacity: .5;
    padding-top: 15px;
    position: absolute;
    top: 8px;
    right: 16px;
    padding-top: 10px;
}

.modalLogin {
    text-align: center;
  }

#emailForm {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

#passForm {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.gradient-custom {
  background: linear-gradient(to right, rgb(230, 148, 26),
          rgb(220, 67, 12), #eed219);
}