#calComp{
  background-color: darkgray;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

#calDiv{
  display: block;
  margin: 5%;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  padding: 20px;
  justify-self: center;
  background-color: #ffffff;
  align-items: center;
}

#calInfo{
  width: 10%;
  height: auto;
  background-color: white;
}

#homeSection{
  height:100vh;
}


#videoContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.hero-logo {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;

}


/* .modal-content {
  background: linear-gradient(to right, rgb(241, 75, 75),
          rgb(234, 152, 29), #f7db24);
  margin-top: 100px;
} */


.card {
  margin-left: 100px;
  margin-top: 100px;
}

.codeName {
  --bs-body-bg: #dddcdc;
}

.backimg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-filter: blur(6px);
}

.homelogo {
  z-index: 1;
  position: absolute;
  top: 15%;
  left: 12%;
  transform: translate(-50%, -50%);
  font-size: 5rem;

}

.cal {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  height: 30%;
}

.icon {
  position: absolute;
  display: flex;
  justify-content: end;
  margin-left: 95%;
  margin-top: 2%;
}

.LogOutIcon {
  position: absolute;
  display: flex;
  justify-content: end;
  margin-left: 94%;
  margin-top: 8%;
}

.profileIcon {
  position: absolute;
  display: flex;
  justify-content: end;
  margin-left: 94%;
  margin-top: 14%;
}

.noteIcon {
  position: absolute;
  display: flex;
  justify-content: end;
  margin-left: 94%;
  margin-top: 20%;
}

.bulletinCard {
  margin-top: 30%;
  margin-right: 60%;
  margin-left: 2%;
}

.postCard {
  text-align: center;
}